section.parentFloat > div.parent div {
			line-height: 40px;
			}
			div.parent > p {
				font-style: italic;
				margin-top: 0.5em;
				margin-bottom: -0.1em;
			}
			section.parentFloat > div.parent div.childL {
				background-color: #f1f1f1;
				color: red;
				text-align: center;
				}
			section.parentFloat > div.parent div.child:nth-child(4) {
				display: grid;
				grid-template-columns: 99% 1%;
				background-color: green;
				}
			section.parentFloat > div.parent div.child:nth-child(6) {
				display: grid;
				grid-template-columns: 90% 10%;
				background-color: green;
				}
			section.parentFloat > div.parent div.child:nth-child(8) {
				display: grid;
				grid-template-columns: 70% 30%;
				background-color: green;
				}
			section.parentFloat > div.parent div.child:nth-child(10) {
				display: grid;
				grid-template-columns: 50% 50%;
				background-color: green;
				}
		