div.aboutMe {
    position: relative;
}
div.aboutMe::after {
    content: "";
    position: absolute;
    top: calc(0px - (var(--margin-article)));
    bottom: calc(0px - (var(--margin-article)));
    right: calc(0px - (var(--margin-article)));
    left: calc(0px - (var(--margin-article)));
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}
div.aboutMe h3 {
    text-transform: capitalize;
    line-height: 1;
    margin-top: calc(2*(var(--margin-article)));
    }
div.aboutMe > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(1, 1, 1, 0.2);
    }
    div.aboutMe > section div {
        display: flex;
        flex-direction: column;
        height: 5em;
        text-align: center;
        align-content: space-between;
        justify-content: space-between;
        padding: 5px 0px;
        }
        div.aboutMe > section p {
            margin: 0;
            color: white;
            line-height: 1;
            font-size: 1.5rem;
            padding-bottom: 8px;
            }
        div.address-div2 svg, div.address-div3 svg {
            padding: 8px 0px;
        }
        div.aboutMe > section div:nth-child(2) {
            background-color: darkgreen;
            }
    div.aboutMe > hr {
        margin: 25px 0 15px 0;
        }
div.form {
    margin-top: 0;
    padding-top: 0;
    }
    div.form input[type=text], input[type=email] {
        width: 100%;
        height: 2em;
        font-family: "Asar";
        font-size: 1em;
        }
    div.form button {
        display: flex;
        height: 2em;
        font-family: "Asar";
        font-size: 1em;
        padding: 0px 15px;
        margin-top: 0.7em;
        border: none;
        background-color:black;
        color: white;
        transition: background-color 0.5s ease;
        }
        div.form button > svg {
        width: 1.5em;
        margin-right: 10px;
        }
        div.form button path {
            fill: white;
        }
    div.form button:hover {
        background-color: blue;
    }
    div.form button:hover > span {
        color: black;
        }
    div.form button:hover path {
        fill: black;
    }
