@import "Template_content6.css";
@import "Template_footer1.css";
@import "Template_footer2.css";
@import "Template_demo1.css";

:root {
	--fonttitle: "Sedgwick Ave Display";
	--fontParagraph: "Grenze"; 
	--sizeScreen: 1100px;
	--sizeFontTitle: 1.5em;
	--sizefontParagraph: 1.4em;
	--backgroundfill: #4e5342;
	--backgroundColor: #212121;
	--colorWord: #afc67b;
	--fontSpecial: "Leckerli One";
	--paddingtop: 35px;
	--bg-secondary: #7FD7F5;
    --bg-primary: #c0ebfa;
}

* {
	box-sizing: border-box;
	}
body {
  margin: 0;
  width: 100%;
  text-align: center;
  /* box-shadow: 0 0 5px white; */
}
h3 {
	font-family: "Sedgwick Ave Display";
	font-size: 1.5em;
	color: white;
	margin-bottom: 0;
}
p {
	font-family: "Grenze";
	font-size: 1.4em;
	color: whitesmoke;
	text-align: justify;
	margin-top: 0.5em;
}

html {
    background-color:white;
    background-image:
    radial-gradient(midnightblue 9px, transparent 10px),
    repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);
    background-size: 30px 30px, 90px 90px;
    background-position: 0 0;
    background-attachment: fixed;
}

@media only screen and (max-width: 1100px) {
  :root {
    --sizeScreen: 100%;
  }
}
@media only screen and (max-width: 850px) {
  main.content2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    height: max-content;
    max-height: none;
    padding: 2rem 2rem;
  }
  main.content2 > div {
    border-bottom: 2px solid white;
  }
  div.cont4Dish {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0px;
    grid-column-gap: 0px;
  }
  div.cont3Food {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  main.content3 {
    padding: 2rem;
  }
  main.content3::before {
    top: 2rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
  }
  div.cont3Food.mienNam figure:last-of-type {
    grid-area: 2 / 2 / 3 / 3;
  }
  div.cont3Food.MienTrung figure:first-of-type {
    grid-area: 1 / 1 / 2 / 2;
  }
  div.cont3Food.MienBac figure:last-of-type {
    grid-area: 2 / 2 / 3 /3;
  }
}


@media only screen and (max-width: 600px) {
  :root {
    --sizeScreen: 100%;
  }
  main.header {
    left: 1rem;
  }
  nav.NavHeader {
    width: 100%;
    justify-content: flex-start;
  }
  nav.NavHeader div:first-of-type {
    padding: 0px;
  }
  nav.NavHeader div.not-media-navba {
    display: none;
  }
  main.header > div {
    margin-left: 0px;
  }
  main.content1 {
    display: block;
    padding: 1rem;
    min-height: 0px;
    height: max-content;
  }
  main.content1 > div:last-of-type {
    display: none;
  }
  div.cont1.div1 > div {
    position: relative;
    transform: translateY(0%);
    left: 0px;
  }
  div.cont1.div1 > div h3 {
    margin: 0px;
    line-height: 1;
  }
  div.cont1.div1 > div p {
    margin-bottom: 0px;
  }
  main.content2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    height: max-content;
    max-height: none;
    padding: 1rem 1rem;
  }
  main.content2 > div {
    border-bottom: 2px solid white;
  }
  /* main.content2 > div:last-of-type {
    border: none;
  } */
  div.cont6Menu {
    flex-direction: column;
    margin: auto 1rem;
  }
  section.cont6Child {
    padding: 1rem 0px;
  }
  section.cont6Child > p {
    margin: 0 0 1rem;
  }
  div.cont6Menu figure {
    margin: 0 0 1rem;
  }
  div.cont6Menu figure:last-of-type {
    margin-bottom: 0px;
  }
  div.cont4Dish {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    margin: 0px;
    grid-column-gap: 0px;
  }
  main.footer-main2 {
    flex-direction: column;
  }
  div.footer-flex-us {
    margin-left: 0px;
    padding-top: 1rem;
    justify-content: space-around;
  }
  main.footer-main2 h4 {
    color: black;
  }
  main.content4 > figure {
    height: max-content;
  }
  main.content3 {
    padding: 1rem 1rem;
  }
  main.content3::before {
    top: 1rem;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
  }
  main.content3 > div {
    margin: 1rem 1rem;
  }
  div.cont3Food {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
  div.cont3Food > div {
    height: max-content;
    padding-top: 0%;
  }
  div.WrapFood > div {
    position: relative;
    overflow: hidden;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: 1rem;
  }
  div.cont3Food.mienNam figure:last-of-type {
    grid-area: unset;
  }
  div.cont3Food.MienTrung figure:first-of-type {
    grid-area: unset;
  }
  div.cont3Food.MienBac figure:last-of-type {
    grid-area: unset;
  }
  div.cont3Food.MienTrung figure:first-of-type {
    grid-area: 1 / 1 / 2 / 2;
  }
  div.cont3Food.MienTrung figure:last-of-type {
    grid-area: 3 / 1 / 4 / 2;
  }
  div.footer-social {
    margin: 1rem 15% auto;
    height: auto;
  }
  section.cont4Child {
    margin: auto 1rem;
    padding: 1rem 0px;
    overflow: hidden;
  }
  main.content4 > div {
    padding: 1rem 1rem;
  }
  main.footer-main1 {
    padding: 1rem;
  }
  main.footer-main1 > p {
    margin: 0px;
    text-align: justify;
  }
  main.footer-main2 {
    padding: 1rem;
  }
  main.content5 > h3 {
    margin: 1rem auto;
  }
  main.content5 figure {
    height: max-content;
  }
  div.DishNew h3 {
    margin-top: 1rem;
  }
  div.DishNew p {
    margin-bottom: 0px;
  }
  div.DishNew div {
    overflow: hidden;
		width: calc(100vw - 7em - 2em);
  }
  section.cont5Child {
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(1, 1fr);
  }
  div.cont5Info {
    width: max-content;
  }
  section.cont5Child div:nth-of-type(2) {
    grid-area: 3 / 1 /4 / 2;
  }
  
}
