@charset "UTF-8";

.footer-headline {
    font-size: 2.2rem;
}

.footer-tell, .header .navSp-list, .header-entry {
    font-size: 1.8rem;
}

.toTop #toTop span, .footer .copyright, .footer-wrap > p, .header .navSp-cross,
.header-ul.nav-list2 {
    font-size: 1.4rem;
}

.toTop #toTop span, .header .navSp-list, .header-ul {
    font-family: "Noto Serif JP", sans-serif;
    font-weight: 200;
}

img.default {
    width: auto;
    max-width: 100%;
    display: block;
    image-rendering: -webkit-optimize-contrast;
}

a.default {
    display: block;
    outline: none;
    color: inherit;
    outline: none;
    text-decoration: none;
}

button.default {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    outline: none;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.d-none {
    display: none !important;
}

.container.ct-lg {
    max-width: 1320px;
}

.only-sp {
    display: none;
}

.break-sp {
    display: none;
}

input.default, select.default {
    display: block;
    width: 100%;
    outline: none !important;
    border: none;
    background: transparent;
    cursor: pointer;
}

label.default {
    display: block;
}

.h-opacity {
    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
}

.h-opacity:hover {
    opacity: .8;
}

.header {
    padding-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.header-logo {
    padding: 12px 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 20px;
    max-width: 129px;
    max-width: min(129px, max(85px, 8vw));
}

.header-nav {
    max-width: calc(100% - 70px);
    max-width: max(calc(100% - 70px), 1510px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-nav > :not(.header-logo) a {
    letter-spacing: .1em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    padding: 0 clamp(10px, 1.5vw, 20px);
}

.header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #a3a3a3;
    width: 100%;
}

.header-ul.nav-list1 {
    font-size: clamp(1.6rem, 1.5vw, 1.8rem);
    max-width: 480px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    width: 30vw;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.header-ul.nav-list2 {
    max-width: 391px;
    margin-right: 20px;
}

.header-li {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    white-space: nowrap;
}

.header-li a {
    background-color: black;
    opacity: 1 !important;
}

.header-li::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 1;
    height: 4px;
    width: 100%;
    left: 0;
    background-color: inherit;
    pointer-events: none;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom center;
             transform-origin: bottom center;
    -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
}

.header-li:hover::after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}

.header-entry {
    max-width: 200px;
    background-color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 100%;
    color: black;
    font-size: clamp(1.6rem, 1.4vw, 1.8rem);
    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
}

.header-entry:hover {
    opacity: .8;
}

.header-entry a {
    width: 100%;
}

.header .navSp {
    visibility: hidden;
    position: absolute;
    z-index: -1;
    background-color: rgba(67, 67, 67, .8);
    opacity: 0;
    -webkit-transition: opacity .3s ease, visibility .3s ease;
            transition: opacity .3s ease, visibility .3s ease;
    top: 100%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100vh;
}

.header .navSp::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #eee;
    -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
}

.header .navSp-list {
    max-width: 50%;
    background-color: #eee;
    width: 100%;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 50px;
    padding-top: clamp(50px, 10vh, 120px);
    -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding-bottom: 40px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.header .navSp-list a {
    padding: 10px 0;
    position: relative;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    -webkit-transition: -webkit-transform 1s ease;
            transition: -webkit-transform 1s ease;
            transition: transform 1s ease;
            transition: transform 1s ease, -webkit-transform 1s ease;
}

.header .navSp-list a::after, .header .navSp-list a::before {
    content: "";
    position: absolute;
    width: calc(100% - 80px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 1px;
    background-color: #333;
}

.header .navSp-list a::after {
    bottom: 0;
}

.header .navSp-list a::before {
    top: 0;
    display: none;
}

.header .navSp-list li {
    position: relative;
    z-index: 0;
}

.header .navSp-list li::after, .header .navSp-list li::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
}

.header .navSp-list li::after {
    z-index: -1;
}

.header .navSp-list li::before {
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(60%, #eeeeee));
    background-image: linear-gradient(to right, transparent 0% 40%, #eee 60% 100%);
    background-size: 250% 100%;
    background-position: 100% 50%;
    -webkit-transition: background-position 1s ease;
            transition: background-position 1s ease;
    pointer-events: none;
}

.header .navSp-list li.page-target {
    color: #eee;
}

.header .navSp-list li.page-target::after {
    background-color: #333;
}

.header .navSp-list li:hover {
    color: #eee;
}

.header .navSp-list li:hover::after {
    background-color: #333;
}

.header .navSp-list li:first-child a::before {
    display: block;
}

.header .navSp-cross {
    display: none;
    color: white;
    letter-spacing: .05em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header .navSp-cross span {
    display: block;
    white-space: nowrap;
}

.header .navSp-btn {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header .navSp-btn span {
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
}

.header .navSp-btn span:first-child {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
}

.header .navSp-btn span:last-child {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
}

.header .navSp-btn.active span {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
}

.header .navSp-btn.active span:last-child {
    -webkit-transform: translateY(0) rotate(135deg);
            transform: translateY(0) rotate(135deg);
}

.footer-inner {
    background-color: #060404;
    padding: 70px 0 45px;
    color: #ccc;
}

.footer-headline {
    letter-spacing: .05em;
    font-weight: bold;
    font-family: "Yu Gothic", sans-serif;
    line-height: 1.4;
    margin-bottom: 12px;
}

.footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.footer-wrap > p {
    letter-spacing: .05em;
    line-height: 2.2857142857;
}

.footer-tell {
    font-family: "Yu Gothic", sans-serif;
    line-height: 1.6666666667;
    font-weight: 500;
}

.footer-list {
    font-family: "Yu Gothic", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 515px;
    width: 100%;
    margin-top: 10px;
}

.footer-list ul:not(:last-child) {
    margin-right: 20px;
}

.footer-list li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-list a {
    line-height: 2.1428571429;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-list a::before {
    content: "";
    height: 9px;
    width: 9px;
    display: block;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-right: 15px;
}

.footer-info {
    margin-right: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.footer-logo {
    margin-top: 22px;
}

.footer-logo figure {
    max-width: 176px;
}

.footer .copyright {
    text-align: center;
    margin-top: 45px;
    line-height: 1;
    font-family: "Yu Gothic", sans-serif;
}

.toTop {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
}

.toTop.visible {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}

.toTop > * {
    height: 60px;
    width: 60px;
}

.toTop figure {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.toTop #instagram {
    background-color: #5f2625;
}

.toTop #instagram figure {
    width: 16px;
}

.toTop #twitter {
    background-color: #293a65;
}

.toTop #twitter figure {
    width: 17px;
}

.toTop #instagram, .toTop #twitter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.toTop #toTop {
    background-color: #785b41;
    color: #a3a3a3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.toTop #toTop span {
    letter-spacing: .1em;
    display: block;
}

.toTop #toTop .toTop-arrow {
    height: 10px;
    width: 10px;
    border-top: 1px solid #c0bcb8;
    border-right: 1px solid #c0bcb8;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 2px;
}

body {
    font-family: "Noto Sans JP",
                 "游ゴシック",
                 "Yu Gothic",
                 "Hiragino Kaku Gothic ProN",
                 "Hiragino Kaku Gothic Pro",
                 "メイリオ",
                 "ＭＳ ゴシック",
                 sans-serif;
    font-size: 1.6rem;
    color: #333;
    font-weight: 400;
    background-color: #ece8de;
    overflow: hidden;
}

body.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
}

.blockShow-slick {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.blockShow-slick .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.blockShow-slick .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px;
}

.blockShow-slick .slick-dots li {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 13px;
    cursor: pointer;
}

.blockShow-slick .slick-dots li button {
    display: none;
}

.blockShow-slick .slick-dots li.slick-active {
    background-color: #707070;
}

.blockShow-imgs {
    margin: 0 20px;
}

.btn-viewAll {
    max-width: 300px;
    position: relative;
    height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    text-transform: capitalize;
    letter-spacing: .1em;
    color: inherit;
    -webkit-transition: color .3s ease, background-color .3s ease, border .3s ease;
            transition: color .3s ease, background-color .3s ease, border .3s ease;
}

.btn-viewAll.white {
    border: 1px solid #ccc;
}

.btn-viewAll.white .btn-arrow::after, .btn-viewAll.white .btn-arrow::before {
    background-color: #ccc;
}

.btn-viewAll.gray {
    border: 1px solid #333;
}

.btn-viewAll.gray .btn-arrow::after, .btn-viewAll.gray .btn-arrow::before {
    background-color: #333;
}

.btn-viewAll:hover .btn-arrow {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
}

.btn-viewAll:hover .btn-arrow::before {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
}

.btn-viewAll:hover.white {
    border: 1px solid #333;
    background-color: #ccc;
    color: #333;
}

.btn-viewAll:hover.white .btn-arrow::after,
.btn-viewAll:hover.white .btn-arrow::before {
    background-color: #333;
}

.btn-viewAll:hover.gray {
    border: 1px solid #ccc;
    background-color: #333;
    color: #ccc;
}

.btn-viewAll:hover.gray .btn-arrow::after,
.btn-viewAll:hover.gray .btn-arrow::before {
    background-color: #ccc;
}

.btn-arrow {
    position: absolute;
    right: 20px;
    bottom: 42%;
    display: block;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 15px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s ease;
            transition: -webkit-transform .3s ease;
            transition: transform .3s ease;
            transition: transform .3s ease, -webkit-transform .3s ease;
}

.btn-arrow::after, .btn-arrow::before {
    content: "";
    background-color: #ccc;
}

.btn-arrow::before {
    display: block;
    height: 100%;
    width: 1px;
    -webkit-transform-origin: bottom right;
             transform-origin: bottom right;
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    -webkit-transition: background-color .3s ease, -webkit-transform .3s ease;
            transition: background-color .3s ease, -webkit-transform .3s ease;
            transition: background-color .3s ease, transform .3s ease;
            transition: background-color .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.btn-arrow::after {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    height: 1px;
    -webkit-transition: background-color .3s ease;
            transition: background-color .3s ease;
}

.mt-3h {
    margin-top: 300px;
}

.mt-2h5 {
    margin-top: 250px;
}

.mt-2h {
    margin-top: 200px;
}

.h-opacity {
    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
}

.h-opacity:hover {
    opacity: .8;
}

.page-target {
    pointer-events: none;
}

.page-target a {
    background-color: inherit !important;
}

.w-full {
    width: 100% !important;
}

@media screen and (-ms-high-contrast: none) and (max-width: 1250px),
       screen and (-ms-high-contrast: active) and (max-width: 1250px){
    .header-nav > :not(.header-logo) a {
        padding: 30px 10px;
    }
    .header-nav {
        max-width: 100%;
        padding-right: 130px;
    }
    .header-entry {
        max-width: 130px;
    }
}

@media screen and (max-width: 1023px){
    .header {
        height: 70px;
        padding: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .header-logo {
        padding: 0;
    }
    .header-ul {
        display: none;
    }
    .header-entry {
        display: none;
    }
    .header .navSp {
        height: calc(100vh - 70px);
        max-height: calc(100vh - 70px);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header .navSp.active {
        visibility: visible;
        opacity: 1;
    }

    .header .navSp.active::after {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    .header .navSp.active .navSp-list {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
    }

    .header .navSp.active .navSp-list li a {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    .header .navSp.active .navSp-list li::before {
        background-position: 0% 50%;
    }

    .header .navSp.active .navSp-list li:nth-child(1) a {
        -webkit-transition-delay: .1s;
                transition-delay: .1s;
    }

    .header .navSp.active .navSp-list li:nth-child(1)::before {
        -webkit-transition-delay: .1s;
                transition-delay: .1s;
    }

    .header .navSp.active .navSp-list li:nth-child(2) a {
        -webkit-transition-delay: .2s;
                transition-delay: .2s;
    }

    .header .navSp.active .navSp-list li:nth-child(2)::before {
        -webkit-transition-delay: .2s;
                transition-delay: .2s;
    }

    .header .navSp.active .navSp-list li:nth-child(3) a {
        -webkit-transition-delay: .3s;
                transition-delay: .3s;
    }

    .header .navSp.active .navSp-list li:nth-child(3)::before {
        -webkit-transition-delay: .3s;
                transition-delay: .3s;
    }

    .header .navSp.active .navSp-list li:nth-child(4) a {
        -webkit-transition-delay: .4s;
                transition-delay: .4s;
    }

    .header .navSp.active .navSp-list li:nth-child(4)::before {
        -webkit-transition-delay: .4s;
                transition-delay: .4s;
    }

    .header .navSp.active .navSp-list li:nth-child(5) a {
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
    }

    .header .navSp.active .navSp-list li:nth-child(5)::before {
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
    }

    .header .navSp.active .navSp-list li:nth-child(6) a {
        -webkit-transition-delay: .6s;
                transition-delay: .6s;
    }

    .header .navSp.active .navSp-list li:nth-child(6)::before {
        -webkit-transition-delay: .6s;
                transition-delay: .6s;
    }

    .header .navSp.active .navSp-list li:nth-child(7) a {
        -webkit-transition-delay: .7s;
                transition-delay: .7s;
    }

    .header .navSp.active .navSp-list li:nth-child(7)::before {
        -webkit-transition-delay: .7s;
                transition-delay: .7s;
    }

    .header .navSp.active .navSp-list li:nth-child(8) a {
        -webkit-transition-delay: .8s;
                transition-delay: .8s;
    }

    .header .navSp.active .navSp-list li:nth-child(8)::before {
        -webkit-transition-delay: .8s;
                transition-delay: .8s;
    }

    .header .navSp.active .navSp-list li:nth-child(9) a {
        -webkit-transition-delay: .9s;
                transition-delay: .9s;
    }

    .header .navSp.active .navSp-list li:nth-child(9)::before {
        -webkit-transition-delay: .9s;
                transition-delay: .9s;
    }
    .header .navSp-cross {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 40px;
    }
    .container {
        padding: 0 20px;
    }
}

@media screen and (-ms-high-contrast: none) and (max-width: 1023px),
       screen and (-ms-high-contrast: active) and (max-width: 1023px){
    .header-logo {
        max-width: 100px;
    }
    .header-nav {
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 767px){
    .footer-headline {
        font-size: 1.8rem;
    }
    .footer-tell, .header .navSp-list, .header-entry {
        font-size: 1.6rem;
    }
    .only-pc {
        display: none !important;
    }
    .only-sp {
        display: block;
    }
    .break-sp {
        display: inherit;
    }
    .header {
        height: 60px;
    }
    .header-logo {
        max-width: 70px;
    }
    .header .navSp::after {
        max-width: 400px;
        width: 100%;
    }
    .header .navSp {
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
    }
    .header .navSp-list {
        max-width: 400px;
    }
    .header .navSp-list a::after, .header .navSp-list a::before {
        width: calc(100% - 40px);
    }
    .header .navSp-cross {
        font-size: 1.2rem;
    }
    .footer-inner {
        padding: 50px 0 30px;
    }
    .footer-wrap {
        display: block;
    }
    .footer-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .footer-list ul {
        margin-top: 20px;
    }
    .toTop > * {
        height: 50px;
        width: 50px;
    }
    .toTop #toTop span {
        font-size: 1.2rem;
    }
    .toTop #toTop .toTop-arrow {
        height: 8px;
        width: 8px;
    }
    body {
        font-size: 1.4rem;
    }
    .blockShow-slick .slick-dots {
        margin-top: 30px;
    }
    .blockShow-slick {
        max-width: 540px;
    }
    .mt-2h, .mt-2h5, .mt-3h {
        margin-top: 100px !important;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
    .header-nav {
        padding-right: 200px;
    }
    .header-entry {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1;
    }
    .header .navSp-btn span {
        left: 0;
    }
    body main {
        overflow: hidden;
        display: block;
    }
}
