.sideshow-popular__button, .sideshow-favourite__button, .sideshow-latest__button, .sideshow-editorChoice__button, .sideshow-filmSoon__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  padding: 3px 3px;
  margin-top: 0px;
  margin-left: 3px;
  margin-bottom: 10px;
  margin-right: 3px;
  outline: none;
  border-radius: 50%;
  background-color: #f1f3f6;
  height: 30px;
  width: 30px;
  line-height: 1;
  -webkit-box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.sideshow-popular__button .fa, .sideshow-favourite__button .fa, .sideshow-latest__button .fa, .sideshow-editorChoice__button .fa, .sideshow-filmSoon__button .fa {
  font-size: 1.1rem;
}

.sideshow-popular__button:last-of-type, .sideshow-favourite__button:last-of-type, .sideshow-latest__button:last-of-type, .sideshow-editorChoice__button:last-of-type, .sideshow-filmSoon__button:last-of-type {
  margin-right: 0px;
}

.sideshow-popular__button:first-of-type, .sideshow-favourite__button:first-of-type, .sideshow-latest__button:first-of-type, .sideshow-editorChoice__button:first-of-type, .sideshow-filmSoon__button:first-of-type {
  margin-left: 0px;
}

.sideshow-popular__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-favourite__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-latest__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-editorChoice__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-filmSoon__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=buttons.css.map */