.sideshow-popular__button, .sideshow-favourite__button, .sideshow-latest__button, .sideshow-editorChoice__button, .sideshow-filmSoon__button {
  position: relative;
  border: none;
  padding: 3px 3px;
  margin-top: 0px;
  margin-left: 3px;
  margin-bottom: 10px;
  margin-right: 3px;
  outline: none;
  border-radius: 50%;
  background-color: #f1f3f6;
  height: 30px;
  width: 30px;
  line-height: 1;
  -webkit-transition: -webkit-box-shadow 0.05s ease;
  transition: -webkit-box-shadow 0.05s ease;
  transition: box-shadow 0.05s ease;
  transition: box-shadow 0.05s ease, -webkit-box-shadow 0.05s ease;
  -webkit-box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: -2px -2px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.active.sideshow-popular__button, .active.sideshow-favourite__button, .active.sideshow-latest__button, .active.sideshow-editorChoice__button, .active.sideshow-filmSoon__button {
  -webkit-box-shadow: 2px 2px 5px white, -3px -3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px white, -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.sideshow-popular__button .fa, .sideshow-favourite__button .fa, .sideshow-latest__button .fa, .sideshow-editorChoice__button .fa, .sideshow-filmSoon__button .fa {
  font-size: 1.1rem;
}

.sideshow-popular__button:last-of-type, .sideshow-favourite__button:last-of-type, .sideshow-latest__button:last-of-type, .sideshow-editorChoice__button:last-of-type, .sideshow-filmSoon__button:last-of-type {
  margin-right: 0px;
}

.sideshow-popular__button:first-of-type, .sideshow-favourite__button:first-of-type, .sideshow-latest__button:first-of-type, .sideshow-editorChoice__button:first-of-type, .sideshow-filmSoon__button:first-of-type {
  margin-left: 0px;
}

.sideshow-popular__button .span-next, .sideshow-favourite__button .span-next, .sideshow-latest__button .span-next, .sideshow-editorChoice__button .span-next, .sideshow-filmSoon__button .span-next {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  z-index: 0;
}

.sideshow-popular__button .span-next::before, .sideshow-favourite__button .span-next::before, .sideshow-latest__button .span-next::before, .sideshow-editorChoice__button .span-next::before, .sideshow-filmSoon__button .span-next::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 20%;
  height: 50%;
  width: 4px;
  border-radius: 2px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sideshow-popular__button .span-next::after, .sideshow-favourite__button .span-next::after, .sideshow-latest__button .span-next::after, .sideshow-editorChoice__button .span-next::after, .sideshow-filmSoon__button .span-next::after {
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0px;
  height: 50%;
  width: 4px;
  border-radius: 2px;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sideshow-popular__button .span-previous, .sideshow-favourite__button .span-previous, .sideshow-latest__button .span-previous, .sideshow-editorChoice__button .span-previous, .sideshow-filmSoon__button .span-previous {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  z-index: 0;
}

.sideshow-popular__button .span-previous::before, .sideshow-favourite__button .span-previous::before, .sideshow-latest__button .span-previous::before, .sideshow-editorChoice__button .span-previous::before, .sideshow-filmSoon__button .span-previous::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 20%;
  height: 50%;
  width: 4px;
  border-radius: 2px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sideshow-popular__button .span-previous::after, .sideshow-favourite__button .span-previous::after, .sideshow-latest__button .span-previous::after, .sideshow-editorChoice__button .span-previous::after, .sideshow-filmSoon__button .span-previous::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 20%;
  height: 50%;
  width: 4px;
  border-radius: 1px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sideshow-popular__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-popular__button .span-next:hover::before {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-popular__button .span-next:hover::after {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-popular__button .span-previous:hover::before {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-popular__button .span-previous:hover::after {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-popular__button.div-button__bt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-popular__button.div-button__bt3 span {
  display: block;
  width: 15px;
  height: 3px;
  border-radius: 2px;
  margin: 1px;
  background-color: black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sideshow-popular__button.div-button__bt3:hover span {
  background-color: cyan;
}

.sideshow-popular__button.div-button__bt3:hover span:first-of-type {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.sideshow-popular__button.div-button__bt3:hover span:last-of-type {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.sideshow-favourite__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-favourite__button .span-next:hover::before {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-favourite__button .span-next:hover::after {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-favourite__button .span-previous:hover::before {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-favourite__button .span-previous:hover::after {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-favourite__button.div-button__bt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-favourite__button.div-button__bt3 span {
  display: block;
  width: 15px;
  height: 3px;
  border-radius: 2px;
  margin: 1px;
  background-color: black;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.sideshow-favourite__button.div-button__bt3:hover span {
  background-color: cyan;
}

.sideshow-favourite__button.div-button__bt3:hover span:first-of-type {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.sideshow-favourite__button.div-button__bt3:hover span:last-of-type {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.sideshow-latest__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-latest__button .span-next:hover::before {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-latest__button .span-next:hover::after {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-latest__button .span-previous:hover::before {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-latest__button .span-previous:hover::after {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-editorChoice__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-editorChoice__button:hover .span-next::before {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-editorChoice__button:hover .span-next::after {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-editorChoice__button:hover .span-previous::before {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-editorChoice__button:hover .span-previous::after {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-filmSoon__div-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideshow-filmSoon__button:hover .span-next::before {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sideshow-filmSoon__button:hover .span-next::after {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-filmSoon__button:hover .span-previous::before {
  background-color: cyan;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sideshow-filmSoon__button:hover .span-previous::after {
  background-color: cyan;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=buttons.css.map */