.nav__div.nav__genre .nav__genre--slider .div-circle, .nav__year-circle, .nav__gallery-circle, .nav__news-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5px;
  margin-bottom: 5px;
}

.nav__div.nav__genre .nav__genre--slider .div-circle > div, .nav__year-circle > div, .nav__gallery-circle > div, .nav__news-circle > div {
  margin: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px inset, rgba(255, 255, 255, 0.5) -1px -1px 2px inset;
          box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 2px inset, rgba(255, 255, 255, 0.5) -1px -1px 2px inset;
}

.nav__news-figure {
  background-size: cover;
  background-origin: content-box;
  background-position: center center;
}

.nav__div.nav__genre {
  position: relative;
  cursor: pointer;
}

.nav__div.nav__genre .nav__genre--slider {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: #161616;
  color: white;
  z-index: 1;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px inset;
          box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px inset;
}

.nav__div.nav__genre .nav__genre--slider .div-genre {
  cursor: pointer;
  padding: 5px 10px;
}

.nav__div.nav__genre .nav__genre--slider .div-line {
  border-radius: 2px;
  width: 100%;
  height: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 1px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 1px inset, rgba(255, 255, 255, 0.5) -1px -1px 1px inset;
}

.nav {
  position: relative;
}

.nav__release_js {
  display: block;
  visibility: hidden;
  background-color: inherit;
  color: white;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px -1px 2px;
          box-shadow: rgba(0, 0, 0, 0.7) 0px -1px 2px;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.nav__year-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.nav__year-section::before {
  content: "";
  position: absolute;
  top: 92%;
  left: 10%;
  bottom: 0px;
  right: 10%;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
}

.nav__year-section i {
  margin: auto 5px;
  cursor: pointer;
}

.nav__year-section span:last-of-type {
  cursor: pointer;
}

.nav__year-section span:first-of-type {
  padding-right: 5px;
}

.nav__year-div {
  height: 200px;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;
  font-size: 1.3rem;
  background-color: inherit;
}

.nav__year-div > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: inherit;
  cursor: pointer;
}

.nav__year-div > div::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
  z-index: -2;
}

.nav__year-div > div::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  bottom: 6px;
  right: 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px, rgba(255, 255, 255, 0.6) -1px -1px 1px;
          box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px, rgba(255, 255, 255, 0.6) -1px -1px 1px;
  z-index: -1;
  background-color: inherit;
}

.nav__year-div > div:hover::before {
  background-color: rgba(0, 255, 255, 0.7);
}

.nav__setGallery {
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  padding-right: 40px;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 1;
  background-color: inherit;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px inset;
          box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px inset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.nav__setGallery:hover > a {
  opacity: 1;
  visibility: visible;
}

.nav__gallery-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__gallery-div .gallery-romance figure:nth-of-type(1) {
  background-image: url("../IMAGE/romance/549034.jpg");
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav__gallery-div .gallery-romance figure:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-romance figure:nth-of-type(2) {
  background-image: url("../IMAGE/romance/my-love-story-romance-anime.jpg");
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav__gallery-div .gallery-romance figure:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-romance figure:nth-of-type(3) {
  background-image: url("../IMAGE/romance/romance-mashup-today-tease-1-160105_a2a88bc7f1d08bca5cde2b93bae98bf6.jpg");
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav__gallery-div .gallery-romance figure:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-war figure:nth-of-type(1) {
  background-image: url("../IMAGE/war/1917-hero.jpg");
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav__gallery-div .gallery-war figure:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-war figure:nth-of-type(2) {
  background-image: url("../IMAGE/war/960x0.jpg");
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav__gallery-div .gallery-war figure:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-war figure:nth-of-type(3) {
  background-image: url("../IMAGE/war/Avengers-Infinity-War-21-1800x938.jpg");
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav__gallery-div .gallery-war figure:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-fantasy figure:nth-of-type(1) {
  background-image: url("../IMAGE/fantasy/frozen-animation-movie-film.jpg");
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav__gallery-div .gallery-fantasy figure:nth-of-type(1)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-fantasy figure:nth-of-type(2) {
  background-image: url("../IMAGE/fantasy/rivendell.jpg");
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}

.nav__gallery-div .gallery-fantasy figure:nth-of-type(2)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div .gallery-fantasy figure:nth-of-type(3) {
  background-image: url("../IMAGE/fantasy/the_wind_rises.jpg");
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nav__gallery-div .gallery-fantasy figure:nth-of-type(3)::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
          box-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px inset, rgba(255, 255, 255, 0.3) -1px -1px 2px inset;
}

.nav__gallery-div > section:nth-of-type(1) {
  margin-left: 0px;
  margin-right: 20px;
}

.nav__gallery-div > section:nth-of-type(2) {
  margin: auto 20px;
}

.nav__gallery-div > section:nth-of-type(3) {
  margin-right: 0px;
  margin-left: 20px;
}

.nav__gallery-section {
  padding: 5px;
  width: 100%;
}

.nav__gallery-line {
  border-radius: 1px;
  margin-top: 35px;
  margin-right: 0px;
  height: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.7) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
}

.nav__gallery-title {
  cursor: pointer;
  text-align: center;
  line-height: 1;
  color: white;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 10px auto;
}

.nav__img-div {
  height: 150px;
  position: relative;
  width: 100%;
}

.nav__img-div figure {
  cursor: pointer;
  height: 100%;
  margin: 0px;
  width: 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center center;
}

.nav__gallery-a {
  opacity: 0;
  visibility: hidden;
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  padding: 5px;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.nav__gallery-a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.nav__gallery-a.next-a {
  left: 10px;
}

.nav__gallery-a.next-a::before {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.nav__gallery-a.previous-a {
  right: 10px;
}

.nav__gallery-a.previous-a::before {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

.nav__gallery-a:hover::before {
  background-color: rgba(255, 255, 255, 0.7);
}

.nav__gallery-a:hover span::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: cyan;
}

.nav__gallery-a:hover span::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: cyan;
}

.nav__gallery-span {
  position: relative;
  z-index: 1;
  display: block;
  height: inherit;
  width: inherit;
}

.nav__gallery-span.span-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.nav__gallery-span::before {
  position: absolute;
  top: 0px;
  left: 30%;
  content: "";
  height: 50%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  width: 6px;
  background-color: white;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__gallery-span::after {
  position: absolute;
  left: 30%;
  bottom: 0px;
  content: "";
  height: 50%;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  width: 6px;
  background-color: white;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__news-primary {
  display: block;
  visibility: hidden;
  background-color: inherit;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px inset;
          box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px inset;
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
  z-index: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.nav__news-child {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__news-section {
  width: 100%;
  margin: auto 10px;
}

.nav__news-section:first-of-type {
  margin-left: 0px;
}

.nav__news-section:last-of-type {
  margin-right: 0px;
}

.nav__news-board {
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.nav__news-Abox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 10px auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  background-color: #161616;
}

.nav__news-figure {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  height: 200px;
  width: 50%;
  border: 4px inset rgba(255, 255, 255, 0.6);
}

.nav__news-boxTitle {
  cursor: pointer;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}

.nav__news-boxTitle p {
  margin: 0px;
}

.nav__news-title {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: chocolate;
}

.nav__news-line {
  height: 3px;
  border-radius: 1px;
  margin: 10px auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) -1px -1px 1px inset;
}

.nav__news-content {
  font-size: 0.9rem;
  text-align: justify;
}

.nav__news-arrow {
  position: relative;
  height: 30px;
  z-index: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 1px 2px 1px, rgba(255, 255, 255, 0.2) -1px 1px 0.5px;
          box-shadow: rgba(0, 0, 0, 0.7) 1px 2px 1px, rgba(255, 255, 255, 0.2) -1px 1px 0.5px;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.nav__news-arrow:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 1px, rgba(0, 255, 255, 0.5) -1px 2px 1px;
          box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 1px, rgba(0, 255, 255, 0.5) -1px 2px 1px;
}

.nav__news-arrow:hover .arrowDown-span::before, .nav__news-arrow:hover .arrowUp-span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: cyan;
}

.nav__news-arrow:hover .arrowDown-span::after, .nav__news-arrow:hover .arrowUp-span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: cyan;
}

.nav__news-arrow.active {
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) -1px -1px 1px inset, rgba(0, 0, 0, 0.5) 1px 2px 1px, rgba(0, 255, 255, 0.5) -1px 2px 1px;
          box-shadow: rgba(255, 255, 255, 0.5) -1px -1px 1px inset, rgba(0, 0, 0, 0.5) 1px 2px 1px, rgba(0, 255, 255, 0.5) -1px 2px 1px;
}

.nav__news-name {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: deeppink;
  margin-left: 5px;
}

.nav__news-span {
  position: relative;
  display: block;
  height: 30px;
  width: 30px;
  z-index: 1;
}

.nav__news-span::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 25%;
  width: 50%;
  height: 5px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: -2;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}

.nav__news-span::after {
  content: "";
  position: absolute;
  bottom: 25%;
  right: 0px;
  width: 50%;
  border-radius: 2px;
  height: 5px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
  background-color: white;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
}
/*# sourceMappingURL=slider.css.map */