.sideshow-popular__boxParent, .sideshow-favourite__containParent, .sideshow-latest__containParent, .sideshow-editorChoice__containParent, .sideshow-filmSoon__containParent {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sideshow-popular__boxParent::-webkit-scrollbar, .sideshow-favourite__containParent::-webkit-scrollbar, .sideshow-latest__containParent::-webkit-scrollbar, .sideshow-editorChoice__containParent::-webkit-scrollbar, .sideshow-filmSoon__containParent::-webkit-scrollbar {
  display: none;
}

.sideshow-popular__div, .sideshow-favourite__div, .sideshow-latest__div, .sideshow-editorChoice__div, .sideshow-filmSoon__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  min-width: 220px;
  margin: auto 10px;
  overflow: hidden;
}

.sideshow-popular__div:first-of-type, .sideshow-favourite__div:first-of-type, .sideshow-latest__div:first-of-type, .sideshow-editorChoice__div:first-of-type, .sideshow-filmSoon__div:first-of-type {
  margin-left: 0px;
}

.sideshow-popular__div:last-of-type, .sideshow-favourite__div:last-of-type, .sideshow-latest__div:last-of-type, .sideshow-editorChoice__div:last-of-type, .sideshow-filmSoon__div:last-of-type {
  margin-right: 0px;
}

.sideshow-popular__figure, .sideshow-favourite__figure, .sideshow-latest__figure, .sideshow-editorChoice__figure, .sideshow-filmSoon__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px;
  height: calc(220px * 1.33);
  width: 100%;
  overflow: hidden;
}

.sideshow-popular__name-film, .sideshow-favourite__name-film, .sideshow-latest__name-film, .sideshow-editorChoice__name-film, .sideshow-filmSoon__name-film {
  white-space: nowrap;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 10px auto;
}

.sideshow-primary {
  position: relative;
  height: 500px;
}

.sideshow-primary__div:nth-of-type(1) {
  background-image: url("../IMAGE/background/sideshow/Boku_dak_ ga_Inai_Machi.png");
  display: block;
}

.sideshow-primary__div:nth-of-type(2) {
  background-image: url("../IMAGE/background/sideshow/darker_than_black.jpg");
  display: none;
}

.sideshow-primary__div:nth-of-type(3) {
  background-image: url("../IMAGE/background/sideshow/durarara.jpg");
  display: none;
}

.sideshow-primary__div:nth-of-type(4) {
  background-image: url("../IMAGE/background/sideshow/My_Hero_Academia.png");
  display: none;
}

.sideshow-primary__div:nth-of-type(5) {
  background-image: url("../IMAGE/background/sideshow/psycho_pass.jpg");
  display: none;
}

.sideshow-primary__div {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.list-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 10px;
}

.list-primary__div {
  width: 100%;
  text-align: center;
  border: 2px solid white;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto 10px;
}

.list-primary__div p {
  color: white;
  display: block;
  line-height: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-primary__title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.list-primary__caption {
  text-transform: capitalize;
  font-size: 1.1rem;
}

.sideshow-popular {
  padding: 30px 30px;
  background-color: #f1f3f6;
}

.sideshow-popular__img {
  width: 100%;
}

.sideshow-favourite {
  padding: 30px 30px;
  margin: 20px auto;
  background-color: #f1f3f6;
}

.sideshow-favourite__img {
  width: 100%;
}

.sideshow-latest {
  padding: 30px 30px;
  background-color: #f1f3f6;
}

.sideshow-latest__img {
  width: 100%;
}

.sideshow-editorChoice {
  padding: 30px 30px;
  margin: 20px auto;
  background-color: #f1f3f6;
}

.sideshow-editorChoice__img {
  width: 100%;
}

.sideshow-filmSoon {
  padding: 30px 30px;
  background-color: #f1f3f6;
}

.sideshow-filmSoon__img {
  width: 100%;
}
/*# sourceMappingURL=primary.css.map */