@import variables
@import mixins

%p-format //format for paragraph in #.panel list
    position: relative
    +padding_even(false, map-get($padding, "px1"), rl)
    white-space: nowrap
    text-transform: uppercase
    font-size: map-get($fontsize,"medium")
    line-height: 1
    font-style: italic
    +margin_customizer(0px, false, map-get($margin, "mg2"), false)

    &::before
        content: ""
        +absolute_customize(95%, 10%, 0px, 10%)
        background-color: black

    &:first-of-type
        font-style: normal
        cursor: pointer

//format for #.panel-list

%__divPrimary
    overflow: auto
    +flex_customize(nowrap, row, flex-start, center, false)
    -ms-overflow-style: none
    scrollbar-width: none

    &::-webkit-scrollbar
        display: none

%__divChild
    +flex_customize(nowrap, column, false, center, space-between)
    min-width: $width_div
    +margin_even(false, map-get($margin, "mg2"), rl)
    overflow: hidden

    &:first-of-type
        margin-left: 0px

    &:last-of-type
        margin-right: 0px

%__figure
    display: flex
    align-items: center
    +margin_even(0px, 0px, all)
    height: calc(#{$width_div} * 1.33)
    width: 100%
    overflow: hidden

%__name-film
    white-space: nowrap
    font-size: map-get($fontsize, "medium")
    text-transform: capitalize
    +margin_even(map-get($margin, "mg2"), false, tb)

%__button
    display: flex
    align-items: center
    justify-content: center
    border: none
    +padding_even(3px, 3px, all)
    +margin_customizer(0px, 3px, map-get($margin, "mg2"), 3px)
    outline: none
    border-radius: 50%
    background-color: map-get($colorBackground, "button")
    height: 30px
    width: 30px
    line-height: 1
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1)

    .fa
        font-size: map-get($fontsize, "normal")

    &:last-of-type
        margin-right: 0px

    &:first-of-type
        margin-left: 0px

%__i-boostrap
    i
        margin-left: 3px
        &::before
            position: relative
            bottom: 3px
%__p-margin0
    p
        margin: 0px

%__div-circle
    +flex_customize_2(row nowrap, center, center, false)
    width: 100%
    height: 5px
    margin-bottom: map-get($margin, "mg1")
    & > div
        +margin_even_2(map-get($margin, "mg1"), similar, all)
        width: 5px
        height: 5px
        border-radius: 50%
        +box_shadow(rgba(black, 0.9) 1px 1px 2px, rgba(white, 0.5) -1px -1px 2px, inset)

%__backgroud-format
    background-size: cover
    background-origin: content-box
    background-position: center center

%__Arrow-span
    position: relative
    z-index: 1
    display: block
    height: inherit
    width: inherit
    &::before
        +absolute_customize(0px, 30%, false, false)
        content: ""
        height: 50%
        transform-origin: bottom right
        width: 6px
        background-color: map-get($colorBackground, "arrow")
        transform: rotate(-30deg)
        z-index: -2
        transition: all 0.3s ease
    &::after
        +absolute_customize(false, 30%, 0px, false)
        content: ""
        height: 50%
        transform-origin: top right
        width: 6px
        background-color: map-get($colorBackground, "arrow")
        transform: rotate(30deg)
        z-index: -1
        transition: all 0.3s ease