@import ../abstracts/functions
@import ../abstracts/variables
@import ../abstracts/mixins
    
.panel-list
    +translate_animation(forward, 8, 2, 4, translate-JS, $width_translate, $wisth_mainDiv, $width_scrollbar)

    .sideshow-popular__div, .sideshow-favourite__div
        transition: transform 0.5s ease

.nav__section
    .nav__div
        &:hover
            color: white
        &.active
            color: white
            &::after
                background-color: cyan
                right: 0px
                left: 0px
    & + div
        &:hover
            color: white
        
            

