@mixin tablet{
	@media screen and (max-width: 1023px) {
		@content;
	}
}
@mixin mobile{
	@media screen and (max-width: 767px) {
		@content;
	}
}
@mixin ipadPortrail{
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
		@content;
	}
}
@mixin ipadLandscape{
	@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
		@content;
	}
}
@mixin fillPos{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
@mixin flexDisplay($pos1, $pos2){
	display: flex;
	justify-content: $pos1;
	align-items: $pos2;
}
@mixin atag($color, $fz){
	a, a:hover, a:active, a:focus, a:visited{
		text-decoration: none;
		color: $color;
		font-size: $fz;
		cursor: pointer;
		@content;
	}
}
@mixin modifyTitle($fs){
	font-size: $fs;
	font-weight: bold;
	letter-spacing: 2px;
	color: #1f1f1f;
	text-align: center;
	@include mobile{
		font-size: 2.2rem
	}
}
@mixin modifyTextOdometer($fs, $ff){
	font-family: $ff, sans-serif;
	font-size: $fs;
	font-weight: bold;
	color: #7f6b5e;
}
@mixin modifyTitleRecruit{
	font-family: 'Roboto', sans-serif;
	font-size: 10rem;
	font-weight: bold;
	color: #1f1f1f;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	max-width: 840px;
	width: 100%;
	padding: 0 20px;
	margin: auto;
	>span:first-child{
		font-size: 2rem;
		font-family: 'Yu Gothic', sans-serif;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
	>span:last-child{
		@include flexDisplay(space-between, center);
		width: 100%;
	}
	@include mobile{
		font-size: 3rem;
		max-width: 600px;
		>span:first-child{
			font-size: 1.6rem;
		}
	}
}